<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in first</title>
</head>
<body>
    <form method="post">
        <div id="block">
            <label for="id_username">Username</label>
            <input id="id_username" maxlength="100" class="text" name="username">
        </div>

        <div id="block">
            <label for="id_password">Password</label>
            <input id="id_password" maxlength="100" class="password" name="password">
        </div>

        <input type="submit" value="Log in" formmethod="post">
    </form>
</body>
</html>